.red{
    background-color: tomato;
}
.blue{
    background-color:  cornflowerblue;
}
.yellow{
    background-color:  gold;
}
.green{
    background-color: limegreen;
}
.purple{
    background-color: blueviolet;
}
.orange{
    background-color: chocolate;
}

.circle{
    height: 50px;
    width: 50px;
    border-radius: 50px;
    display: inline-block;
}
.goed{
        border: 5px solid #2ca02c;
}
.fout{
        border: 5px solid #d62728;
}
.plek{
        border: 5px solid yellow;
}